.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  color: white;
  font-family: Roboto;
  padding: 10px;
}

.img {
  width: 90vw;
}

.count-letters-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 40px;
}

label {
  text-align: left;
  font-size: 14px;
}

.input-element {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  width: 200px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
}

p {
  color: #219a6f;
  background-color: white;
  font-size: 36px;
  font-weight: 600;
  padding: 20px;
  border-radius: 16px;
}

@media (min-width: 992px) {
  .bg-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  color: white;
  font-family: Roboto;
  padding: 10px; */
  }

  .img {
    width: 40vw;
  }

  .count-letters-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .input-element {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    width: 400px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
  }
}
