.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto;
}

.contact-heading {
  color: #6d396b;
  font-size: 46px;
}
