.blog-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-family: Roboto;
  padding: 5%;
  width: 90%;
}

.blog-details-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.blog-details-profile-section {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 1%;
}

.blog-specific-img {
  width: 100%;
}

.content-text {
  font-family: Roboto;
  font-size: 16px;
  color: #2f4f4f;
  font-weight: 500;
}
