.nav-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-course-logo {
  padding-right: 10px;
}

.course-name {
  font-family: Roboto;
  color: #1e293b;
  font-size: 16px;
  font-weight: 500;
}
