.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto;
}

.about-heading {
  color: #6d396b;
  font-size: 46px;
}

.about-text {
  color: #555555;
  font-size: 26px;
}
