.show {
  display: block;
}

.hide {
  display: none;
}

.heading-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 24px;
  color: #52606d;
}

.button {
  cursor: pointer;
  outline: line;
  background-color: transparent;
  margin-left: 5%;
  height: fit-content;
  border-width: 0px;
}

.answer {
  font-size: 16px;
  color: #9aa5b1;
}

.line {
  border-color: #e4e7eb;
  width: 95%;
}
