.bg-container {
  background-color: #ffd569;
  background-size: cover;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 80vw;
  height: 80vh;
  font-family: Roboto;
}

.span-element {
  color: #ffd569;
}

.img-element {
  display: flex;
}

.fruit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 300px;
  margin-bottom: 30px;
}

.btn {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-width: 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}
