.bg-container {
  margin: 20px;
  height: 100vh;
}

h1 {
  color: black;
  font-size: 60px;
  font-weight: 700;
}

.card {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-details {
  font-size: 20px;
  color: black;
}

input {
  height: 40px;
  padding: 5px;
  font-size: 18px;
  border-radius: 8px;
  outline: none;
  border: 1px solid grey;
}

textarea {
  padding: 5px;
  font-size: 18px;
  border-radius: 8px;
  outline: none;
  border: 1px solid grey;
}

.card-image {
  width: fit-content;
  height: fit-content;
}

.add-button {
  cursor: pointer;
  background-color: blue;
  color: white;
  font-size: 16px;
  padding: 5px 25px 5px 25px;
  outline: none;
  border-width: 0px;
  border-radius: 8px;
}

.hr {
  margin: 20px 0px 20px 0px;
  border-width: 2px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

span {
  display: flex;
  align-items: center;
  background-color: blue;
  padding: 2px 10px 2px 10px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  margin-right: 2px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}
