* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #223a5f;
  color: #ffffff;
  font-family: Bree Serif;
  min-height: 100vh;
  padding: 30px;
}

.score-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.rules-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #ffffff;
  color: #223a5f;
  padding: 10px 50px 10px 50px;
  border-radius: inherit;
}

.choice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.choice-image {
  width: 200px;
}
ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style: none;
}
.button {
  cursor: pointer;
  outline: none;
  border-width: 0;
  background-color: transparent;
}

.rules-button {
  background-color: #ffffff;
  color: #223a5f;
  padding: 5px 15px 5px 15px;
  font-family: Bree Serif;
  border-radius: 4px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
}

.rules-close-button {
  width: fit-content;
  margin-bottom: 5px;
}

.rules-image {
  width: 70%;
}

.game-result-choices {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-again-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-again-button {
  padding: 10px 25px 10px 25px;
}
